{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style type='text/css'>
#example_filter {
  margin-top: 50px!important;
}
.no-sort {
width: 10px
}

#example tbody tr:hover {
       background-color: white;
       cursor: pointer;
   }
</style>
{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Wszystkie projeky</h5>
                      <span class="h2 font-weight-bold mb-0">{{ projects.count }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="ni ni-archive-2"></i>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Nowe projekty</h5>
                      <span class="h2 font-weight-bold mb-0">{{ new_data|last }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="ni ni-fat-add"></i>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Moje aktywne projekty</h5>
                      <span class="h2 font-weight-bold mb-0">{{user_active}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="ni ni-time-alarm"></i>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Moje wszystkie projekty</h5>
                      <span class="h2 font-weight-bold mb-0">{{user_all}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="text-white mb-0">Sprzedaż</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="mb-0">Liczba nowych projektów</h2>
                  {{ test }}
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Wszystkie projekty</h3>
                </div>
                <div id="exampleModal" class="fade modal" tabindex="-1" role="dialog">
                <div class="modal-dialog-centered modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        {{ request.context.valid }}
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'home'%}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Imię i nazwisko</label>
                                <input type="text" class="form-control" id="name" placeholder="{{ request.user.first_name}} {{request.user.last_name}}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="title">Nr zlecenia</label>
                                <input required type="text" class="form-control" name="title" id="title" placeholder="Nr zlecenia">
                            </div>
                            <div class="form-group">
                                <label for="localization">Lokalizacja</label>
                                <input required type="text" class="form-control" id="localization" 
                                name="localization" placeholder="Lokalizacja">
                            </div>
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select required name="status" id="status" class="form-control">
                                    <option selected>W trakcie</option>
                                    <option>Zakończony</option>
                                    <option>Przerwany</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col col-6">
                                <div class="form-group">
                                    <label for="date">Data rozpoczęcia</label>
                                    <input  required name="datepicker"id='datepicker' class='datepicker form-control'>
                                </div>
                                </div>
                                <div class="col col-6">
                                <div class="form-group">
                                    <label for="value">Kwota</label>
                                    <input required placeholder='0' type='number' name="value"id='value' class='form-control'>
                                </div>
                                </div>
                            </div>
                            
                            <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    </div>
                            </form>
                    </div>
                    
                    </div>
                </div>
                </div>
                <div class="col-4 text-right">
                  <button type="button" data-target="#exampleModal" data-toggle="modal" class="btn btn-sm btn-primary">Dodaj</button>
                </div>

              </div>
            </div>
            <div class="card-body">
              
              <div class="row">
                <div class="col-lg-12">
                  <div class="table-responsive">
                  <table id="example" class="table table-bordered">
                    <thead>
                        <tr>
                            <th tabindex='0'>Imię i nazwisko</th>
                            <th tabindex='1'>Nr Zlecenia</th>
                            <th tabindex='2'>Lokalizacja</th>
                            <th tabindex='3'>Status</th>
                            <th tabindex='4'>Data rozpoczęcia</th>
                            <th tabindex='5' >Kwota</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% csrf_token %}
                        {% for project in projects %}
                         <tr id="{{ project.pk }}">
                            <td>{{ project.user.first_name}} {{ project.user.last_name }}</td>
                            <td>{{ project.title }}</td>
                            <td>{{ project.localization }}</td>
                            <td>{{ project.get_status_display }}</td>
                            <td>{{ project.date_started|date:"j E Y" }}</td>
                            <td>{{ project.value }} zł</td>
                        </tr>
                        
                        
                        {% endfor %}
                       
                    </tbody>
                </table>
                </div>
                </div>
              </div>
            </div>
          </div>
              </div>
        </div>

            </div><!-- End Row-->
          
      </div>

    </div>
      
      

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
//
// Sales chart
//

var SalesChart = (function() {

// Variables

var $chart = $('#chart-sales');


// Methods

function init($chart) {

  var salesChart = new Chart($chart, {
    type: 'line',
    options: {
      scales: {
        yAxes: [{
          gridLines: {
            lineWidth: 1,
            color: Charts.colors.gray[900],
            zeroLineColor: Charts.colors.gray[900]
          },
          ticks: {
            callback: function(value) {
              if (!(value % 10)) {
                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' PLN';
              }
            }
          }
        }]
      },
      tooltips: {
        callbacks: {
          label: function(item, data) {
            var label = data.datasets[item.datasetIndex].label || '';
            var yLabel = item.yLabel;
            var content = '';

            if (data.datasets.length > 1) {
              content += '<span class="popover-body-label mr-auto">' + label + '</span>';
            }

            content += '<span class="popover-body-value">' + yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' PLN</span>';
            return content;
          }
        }
      }
    },
    data: {
      labels: {{ sales_labels|safe }},
      datasets: [{
        data: {{ sales_data|safe }}
      }]
    }
  });

  // Save to jQuery object

  $chart.data('chart', salesChart);

};


// Events

if ($chart.length) {
  init($chart);
}

})();


var OrdersChart = (function() {

//
// Variables
//

var $chart = $('#chart-orders');
var $ordersSelect = $('[name="ordersSelect"]');


//
// Methods
//

// Init chart
function initChart($chart) {

  // Create chart
  var ordersChart = new Chart($chart, {
    type: 'bar',
    options: {
      scales: {
        yAxes: [{
          gridLines: {
            lineWidth: 1,
            color: '#dfe2e6',
            zeroLineColor: '#dfe2e6'
          },
          ticks: {
            callback: function(value) {
                return value
            },
            stepSize: 1,
          }
        }]
      },
      tooltips: {
        callbacks: {
          label: function(item, data) {
            var label = data.datasets[item.datasetIndex].label || '';
            var yLabel = item.yLabel;
            var content = '';

            if (data.datasets.length > 1) {
              content += '<span class="popover-body-label mr-auto">' + label + '</span>';
            }

            content += '<span class="popover-body-value">' + yLabel + '</span>';

            return content;
          }
        }
      }
    },
    data: {
      labels: {{ new_labels|safe }},
      datasets: [{
        label: 'Sales',
        data: {{ new_data|safe }}
      }]
    }
  });

  // Save to jQuery object
  $chart.data('chart', ordersChart);
}


// Init chart
if ($chart.length) {
  initChart($chart);
}

})();


</script>
{% endblock javascripts %}
