{% extends 'layouts/base.html' %}

{% block title %} Profil {% endblock title %}
{% block stylesheets %}
<style type="text/css">
#example_filter {
    margin-top: 50px!important;
}
</style>
{% endblock %}
{% block content %}

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
         style="min-height: 500px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Witaj {{ request.user.username }}</h1>
            <p class="text-white mt-0 mb-5">To jest strona twojego profilu. Możesz tutaj zobaczyć postępy w pracy i zarządzać projektami lub przydzielonymi zadaniami</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Moje projekty</h3>
                </div>
                <div id="exampleModal" class="fade modal" tabindex="-1" role="dialog">
                <div class="modal-dialog-centered modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        {{ request.context.valid }}
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'profile'%}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Imię i nazwisko</label>
                                <input type="text" class="form-control" id="name" placeholder="{{ request.user.first_name}} {{request.user.last_name}}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="title">Tytuł projektu</label>
                                <input required type="text" class="form-control" name="title" id="title" placeholder="Tytuł projektu">
                            </div>
                            <div class="form-group">
                                <label for="localization">Lokalizacja</label>
                                <input required type="text" class="form-control" id="localization" 
                                name="localization" placeholder="Lokalizacja">
                            </div>
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select required name="status" id="status" class="form-control">
                                    <option selected>W trakcie</option>
                                    <option>Zakończony</option>
                                    <option>Przerwany</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col col-6">
                                <div class="form-group">
                                    <label for="date">Data rozpoczęcia</label>
                                    <input  required name="datepicker"id='datepicker' class='datepicker form-control'>
                                </div>
                                </div>
                                <div class="col col-6">
                                <div class="form-group">
                                    <label for="value">Kwota</label>
                                    <input required placeholder='0' type='number' name="value"id='value' class='form-control'>
                                </div>
                                </div>
                            </div>
                            
                            <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                            </form>
                    </div>
                    
                    </div>
                </div>
                </div>
                <div class="col-4 text-right">
                  <button type="button" data-target="#exampleModal" data-toggle="modal" class="btn btn-sm btn-primary">Dodaj</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                      <div class="table-responsive">
                      <table id="example" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Imię i nazwisko</th>
                                <th>Projekt</th>
                                <th>Lokalizacja</th>
                                <th>Status</th>
                                <th>Data rozpoczęcia</th>
                                <th>Kwota</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                             <tr>
                                <td>{{ project.user.first_name}} {{ project.user.last_name }}</td>
                                <td>{{ project.title }}</td>
                                <td>{{ project.localization }}</td>
                                <td>{{ project.get_status_display }}</td>
                                <td>{{ project.date_started|date:"j E Y" }}</td>
                                <td>{{ project.value }} zł</td>
                            </tr>
                            
                            
                            {% endfor %}
                           
                        </tbody>
                    </table>
                    </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Row-->
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
$.fn.datepicker.dates['pl'] = {
    days: [ "Niedziela","Poniedziałek","Wtorek","Środa","Czwartek","Piątek","Sobota" ],
    daysShort: [ "Nie","Pn","Wt","Śr","Czw","Pt","So" ],
    daysMin: [ "N","Pn","Wt","Śr","Cz","Pt","So" ],
    months: [ "Styczeń","Luty","Marzec","Kwiecień","Maj","Czerwiec",
	"Lipiec","Sierpień","Wrzesień","Październik","Listopad","Grudzień" ],
    monthsShort: [ "Sty","Lu","Mar","Kw","Maj","Cze",
	"Lip","Sie","Wrz","Pa","Lis","Gru" ],
    today: "Dzisiaj",
    clear: "wyczyść",
    format: "dd MM yyyy",
    titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
    weekStart: 1,
    
};
$("#datepicker").datepicker({
    language: 'pl',
    todayHighlight: true,
    autoclose: true,
});

  $(document).ready(function() {
    //Default data table


    var table = $('#example').DataTable( {
      info: false,
      select: true,
      lengthChange: false,
      "language": {
        "paginate": {
            "next": ">",
            "previous": "<"
        },
        "emptyTable": "Brak danych",
        "search": "Wyszukaj"

        
        },
      buttons: ['excel', 'pdf', 'print', {extend: 'colvis',text: 'Ukryj kolumny'} ]
    } );

  table.buttons().container()
      .appendTo( '#example_wrapper .col-md-6:eq(0)' );
    
    } );
  </script>
{% endblock javascripts %}
