
{% extends 'layouts/base.html' %}
{% load static %}
{% load extra_templatetags %}
{% block title %} Profil {% endblock title %}
{% block stylesheets %}
<style type='text/css'>
#example_filter {
  margin-top: 50px!important;
}
.no-sort {
width: 10px
}
</style>
{% endblock %}
{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-lg-8 d-flex align-items-center" >
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div style='flex:1'class="row">
          <div class="col-10 mt-5">
            <h2 class="display-3 text-white">Szczegóły projektu</h2>
          </div>
          <div class="col-2 mt-5">
            <a href="javascript:if(window.print)window.print()">
                <button class='float-right btn btn-lg btn-secondary'>Drukuj</button>
            </a>

          </div>
        </div>
      </div>
    </div>
    <div id="screen">
    <div class="container-fluid mt--7">
        <div class="card py-4 mb-5 shadow">
        <div class="card-body">
        <div class="row">
                    <div class="col-xl-8 px-md-5 ">
                        <form id='project-update-form' method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="row my-2">
                            <div class="text-center col-6">
                                <input style='font-size: 1.1rem;' class='form-control' id='title' name='title' value='{{project.title}}'>
                            </div>
                            <div class="text-center col-6">
                                <input readonly style='font-size: 1.1rem;' class='form-control' name='name' value='{{project.user.username}} {{project.user.last_name}}'>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="text-center col-6">
                                <input style='font-size: 1.1rem;' class='form-control' name='localization' 
value="{{project.localization}}">
                            </div>
                            <div class="text-center col-6">
                                <select style='font-size: 1.1rem;' required name="status" id="status" class="form-control">
                                    <option selected>W trakcie</option>
                                    <option>Zakończony</option>
                                    <option>Przerwany</option>
                                </select>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="text-center col-6">
                                <input  required name="datepicker"id='datepicker' class='px-3 datepicker form-control'
                                style='font-size: 1.1rem;' value="{{project.date_started|date:'Y-m-d'}}">
                            </div>
                            <div class="text-center col-6">
                                <input style='font-size: 1.1rem;' class='form-control' name='value' value='{{project.value}}'>
                            </div>
                        </div>

                        
                        <div class="row p-3 mt-5">
                            <h2 class='mb-3'>Inwestor</h2>
                            <textarea style='font-size: 1.1rem; resize: none' class='form-control' name="investor" cols="25" rows="3">{{project.investor}}</textarea>
                        </div>

                        <div class="row p-3 mt-5">
                            <h2 class='mb-3'>Obiekt</h2>
                            <textarea style='font-size: 1.1rem; resize: none' class='form-control' name="project_object" cols="25" rows="10">{{project.project_object}}</textarea>
                        </div>

                        <div class="col-12">
                                        {% load comment_tags %}
                                        {% render_comments project request %}
                                </div>

                    </form>
                    </div>
                    <div class="col-xl-4 px-md-5 ">
                        <div class="row">
                            <div class="col-12">
                                <h2 class='mb-3'>Checklista</h2>
                                {% for name, value in checklist.items %}
                                <div class="row px-3">
                                    <div class='col-1'>
                                    <input {% if value %}checked{% endif %} class='checklist-radio' name={{ name }} style='margin-top: 6px' type="radio" aria-label="">
                                    </div>
                                    <div class='col-11'>
                                        <p class=' mx-3'>{% if value %}<del>{{name|capfirst|replace:'_'}}{% else %}{{name|capfirst|replace:'_'}}{% endif %}</p>
                                    </div>

                                </div> 
                                {% endfor %}
                            </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    
                            </div>
                        </div>

                    </div>
                </div>

            </div>
          </div>
    
    
    
    
        </div>
        <div class="card bg-gradient-default shadow py-4 mb-5 shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-6 px-md-5 ">
                        <div class='row pb-5'>
                            <div class='col-6'>
                                <h2 class='text-white'>Załączniki</h2>
                            </div>
                            <div class='col-6'>
                                <form action="{% url 'update_file' project.pk %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div id='attachement-modal' class="modal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog-centered modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Dodaj załącznik</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input name='file_title' class="mb-4 form-control" type="text" placeholder="Tytuł">
                                                <input name='file' type="file" class="form-control-file" id="exampleFormControlFile1">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                            <button type="submit" class="btn btn-primary">Dodaj</button>

                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                    </form>
                                <button type="button" data-target="#attachement-modal" data-toggle="modal" class="float-right btn btn-sm btn-primary">Dodaj nowy</button>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-12' style='overflow: auto;height:300px;overflow-x:hidden;'>
                                {% for project_file in files  %}
                                <div class=''>
                                    <a target='_blank' href="{{project_file.file.url}}" download ><h3 class='mt-2 text-white'>{{project_file.title}}</h3></a>
                                    <hr class='mt-2 mb-5' style='border-top: 1px solid white'>
                                </div>
                                {% endfor %}


                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 px-md-5 ">
                        <div class='row pb-5'>
                            <div class='col-6'>
                                <h2 class='text-white'>Rachunki</h2>
                            </div>
                            <div class='col-6'>
                                <form action="{% url 'update_invoice' project.pk %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div id='invoice-modal' class="modal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog-centered modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Dodaj rachunek</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input name='invoice_title' class="mb-4 form-control" type="text" placeholder="Tytuł rachunku">
                                                <select required name="status" class="mb-4 form-control">
                                                    <option selected>Do opłacenia</option>
                                                    <option>Opłacony</option>
                                                </select>
                                                <input name='invoice' type="file" class="form-control-file">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                            <button type="submit" class="btn btn-primary">Dodaj</button>

                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                    </form>
                                <button type="button" data-target="#invoice-modal" data-toggle="modal" class="float-right btn btn-sm btn-primary">Dodaj nowy</button>
                            </div>
                        </div>
                        <div class='' style='overflow: auto;height:300px;overflow-x:hidden'>
                        <div class='row px-1'>
                            <table style="table-layout:fixed;width:100%" id="rachunki" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class='text-white'tabindex='0'>Tytuł rachunku</th>
                                        <th class='text-white' tabindex='1'>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for invoice in invoices %}

                                    <tr id="{{ invoice.pk }}">
                                        <td style="width:50%"><a target='_blank'  href="{{invoice.invoice.url }}" download><h4 style='white-space: pre-line;'class='mt-md-3 text-white'>{{ invoice.title}}</h4></a></td>
                                        <td style="width:50%">

                                            <select style='background-color: transparent;
                                                color: white;' required name="status" id="{{invoice.pk}}" class="my-auto status-form form-control">
                                            <option style='background-color: #19214D;
                                            color: white;' selected>{{invoice.status}}</option>
                                            <option style='background-color: #19214D;
                                            color: white;'> {% if invoice.status == "Do opłacenia" %}Opłacony{% else %}Do opłacenia{% endif %} </option>
   
                                    </tr>
                                    {% endfor %}  
                                     
                                </tbody>
                            </table>

                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script>

{% comment %} AJAX checlist {% endcomment %}

var elements = document.getElementsByClassName("checklist-radio");
for (var i = 0; i < elements.length; i++) {
    elements[i].addEventListener('change', function() {
        this.parentNode.nextElementSibling.innerHTML="<del>"+this.parentNode.nextElementSibling.innerHTML+"</del>"
        
        let object_id = $(this).attr("value");
        let url = '/check/{{ project.pk }}/';
        $.ajax({
            url: url,
            method: "POST",
            data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            checked: this.name
            },
        })
            .done(function () {
            })
            .fail(function () {
            });
    });
    
}
{% comment %} AJAX project update {% endcomment %}
// AJAX for posting
var form = document.getElementById('project-update-form');
form.addEventListener('change',function(){
    $.ajax({
        url : "/update/{{project.pk}}/", // the endpoint
        type : "POST", // http method
        data : $(this).serialize() , // data sent with the post request


        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            alert("Edycja nie powiodła się",errmsg,err)
        }
    }); 
})
{% comment %} Ajax invoice status update {% endcomment %}
var status_form = document.getElementsByClassName('status-form');
for (var i = 0; i < status_form.length; i++) {
    status_form[i].addEventListener('change', function() {
        console.log(this.value,this.id)
        let url = `/update_invoice_status/${this.id}/`;
        $.ajax({
            url: url,
            method: "POST",
            data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            status: this.value
            },
        })
            
    });
    
}

</script>

{% endblock javascripts %}
