{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Profil {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
         style="min-height: 200px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-xl-0">
          <div class="card card-profile shadow">
        <div class="card-body">
          <div class="row">

            <div class="col">
              <div class="mt-4 text-center">
                <h2>
                  {{ request.user.username }} {{ request.user.last_name }}
                </h2>
              </div>
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">{{ user_active}}</span>
                  <span class="description">Projekty w trakcie</span>
                </div>
                <div>
                  <span class="heading">{{ user_finished}}</span>
                  <span class="description">Projekty zakończone</span>
                </div>
              </div>
            </div>
          </div>

            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Zmiana hasła</h3>
                </div>
                    
              </div>
              
            </div>
            <div class="card-body bg-white">
                <div class="pl-lg-4">
                {% for message in messages %}
    <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
                    {% comment %} {% for field in form.fields  %}
                    {% for error in field.errors %}
                    {{error}}
                    {% endfor %}
                    {% endfor %} {% endcomment %}
                    <form method="post">
                      {% csrf_token %}
                      {{ form|crispy }}
                      <button class="btn btn-sm btn-primary" type="submit">Zapisz</button>
                    </form>
                    {% comment %} <form action="{% url 'settings' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-lg-6">
                      
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Hasło</label>
                        <input autocomplete="off" type="password" id="password" class="form-control form-control-alternative" placeholder="Hasło" 
                               >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Powtórz hasło</label>
                        <input autocomplete="off" type="password" id="repeat_password" class="form-control form-control-alternative" 
                               placeholder="Powtóz hasło">
                      </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Zapisz</button>
                  </form> {% endcomment %}
                </div>

            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
