{% load comment_tags %}
{% load i18n %}


<div class="js-updated-comment {% if comment.has_flagged_state %}flagged-comment {% endif %}{% block content_wrapper_cls %}{% if has_valid_profile %}col-12 col-md-12{% else %}co-11 mx-3{% endif %}{% endblock content_wrapper_cls %}" id="{{ comment.urlhash }}">
    {% block comment_content %}
    {% render_content comment 20 %}
    {% endblock comment_content %}
    <div class="blockquote-footer">
        <small>
            {% get_profile_url comment as profile_url %}
            <{% if comment.user %}a{% else %}span{% endif %}
                class="{% block username_cls %}{% endblock username_cls %}" {% if profile_url %}{% endif %}
                title="{% if comment.user %}{% else %}{% trans 'comment by anonymous user' %}{% endif %}"
            >
                {{comment.user.username }} {{comment.user.last_name }}
            </{% if comment.user %}a{% else %}span{% endif %}> |
            {% if comment.is_edited %}
            Edytowany {{ comment.edited}}|
            {% else %} Dodany {{comment.posted}}
            {% endif %}
            {% can_delete_comment comment user as can_delete %}
            {% if comment.user == user %}
                {% include 'comment/comments/edit_icon.html' %}
                {% include 'comment/comments/delete_icon.html' %}
            {% elif can_delete %}
                | {% include 'comment/comments/delete_icon.html' %}
                {% if comment.is_flagged %}
                    {% include 'comment/comments/reject_icon.html' %}
                    {% if comment.is_edited %}
                        {% include 'comment/comments/resolve_icon.html' %}
                    {% endif %}
                {% endif %}
            {% endif %}
 
        </small>
    </div>
</div>